<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="hero">
				<a href="https://hakigit.com">Go to HomePage</a>
				<p>status: 200</p>
			</div>
		</div>
	</div>
</div>
